
$font-1: "Poppins", sans-serif;
$color-principale: #46a4fb;
$color-secondaire: #58c8eb;
$color-titre: #0888ff;
$color-option: #084a87;
$color-input: #58c9eb91;
$color-components: #58c9eb28;
$color-vert: #32f245;
$color-jaune: #fce465;
$color-rouge: #f31f1f;

.container_inscription{

    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    .image{
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width:100%;
        height: auto;
        z-index: 100;
        img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 22%;
            margin: 0;
            padding: 0;
            margin-left: 25px;
        }
    }
    .form-insc{
        position: absolute;
        top:32%;
        left: 52%;
        transform: translateX(-50%);
        width: 50%;
        height: 65%;
        border: $color-secondaire 1px solid;
        margin: 0;
        .title{
            width: 100%;
            text-align: center;
            h1{
                color: $color-titre;
                margin: auto;
                width: max-content;
                margin-top: 5vh;
            }
        }
        
        form{
            width: 100%;
            margin: 0;
            input,select{
                border-radius: 0;
                border: 1px $color-secondaire solid;
                font-size: 18px;
                padding: 0 12px;
            }
            input::placeholder{
               font-size: 18px;
               color: $color-input;
            }

            .nom-prenom{
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 80%;
                .half-width{
                    // width: 50%;
                    margin: 0;
                    input{
                        width: 90%;
                        height: 3rem;
                    }
                    // #prenom{
                    //     margin-right: 10px;
                    //     margin-left: 8%;
                    // }
                }
               
            }
            .full-width{
                width: 100%;
                display: flex;
                input,select{
                    width: 79%;
                    margin-left: 5%;
                    margin-right: 10%;
                    height: 3rem;
                    outline: none;
                    color: $color-principale;
                }
                select{
                    width: 82%;
                    
                    option{
                        color: $color-secondaire;
                        
                    }
                }
                input:focus, select:focus{
                        outline: $color-principale 2px solid;
                }
            }
            
        }
          .btn {
            margin-top: 7vh;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            height: 50px;
            border-radius: 15px;
            color: white;
            font-size: 1.45em;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: $color-secondaire;
        }
            .btn:hover {
              filter: brightness(110%);
              transition: 0.1s ease-in-out;
            }
          
          

        .sign-in{
            position: absolute;
            bottom: 20px;
            text-align: center;
            // left: 50%;
            // transform: translateX(-50%);
        }

        // background-color: burlywood;
        
    }
    
}

.sign-in{
    width: 100%;
span{
    font-weight: bold;
    color: rgb(255, 0, 0);
}
}