@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;
$color-principale: #46a4fb;
$color-secondaire: #58c8eb;
$color-titre: #0888ff;
$color-option: #084a87;
$color-input: #58c9eb91;
$color-components: #58c9eb28;
$color-vert: #32f245;
$color-jaune: #fce465;
$color-rouge: #f31f1f;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow: hidden;
}

* {
  font-family: $font-1;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar_accueil a,
.accueil a,
.sidebar a,
.navbar a,
.colonne a {
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.navbar_accueil {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  border-bottom: $color-secondaire 1px solid;
  img {
    margin-left: 25px;
    margin-top: 10px;
    height: 85%;
  }

  .btn_accueil {
    margin-right: 50px;
    margin-top: 10px;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #inscrition_accueil,
  #connexion_accueil {
    margin: 7px;
    padding-left: 17px;
    padding-right: 17px;
    height: 4rem;
    width: fit-content;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    border: $color-secondaire 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  }

  #inscrition_accueil {
    background-color: $color-secondaire;
    color: white;
  }

  #connexion_accueil {
    color: $color-secondaire;
    background-color: white;
  }

  #inscrition_accueil:hover,
  #connexion_accueil:hover {
    filter: brightness(110%);
    transition: 0.1s ease-in-out;
  }
}

.bienvenue {
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 3em;
  span {
    color: $color-titre;
    font-size: 1.1em;
  }
}
.accueil {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
  .text_accueil {
    width: 50%;
    height: 400px;
    font-size: 1.4em;
    h3 {
      margin-bottom: 100px;
      margin-top: 50px;
      margin-left: 100px;
    }
    #commencer {
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 2.5rem;
      padding: 17px 25px;
      width: 30%px;
      font-size: 1.2em;
      border-radius: 15px;
      color: white;
      font-weight: bold;
      background-color: $color-principale;
      border: $color-principale 1px solid;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #commencer:hover {
      filter: brightness(110%);
      transition: 0.1s ease-in-out;
    }
  }
  img {
    width: 47%;
  }
}

.error404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  a {
    font-size: 1.3em;
  }
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: $color-secondaire;
  text-align: left;
  color: white;
  #navbar_link {
    margin-left: 229px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    a {
      font-weight: lighter;
      color: white;
      font-size: large;
      margin-right: 7px;
      padding: 0;
    }
    a:hover {
      filter: brightness(110%);
      color: $color-option;
      font-weight: bold;
      transition: 0.1s ease-in-out;
    }
  }
}

.sidebar {
  height: 900px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-secondaire;
  .photo {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-bottom: 10px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  h3 {
    font-weight: bold;
    color: white;
    font-size: 1.5em;
  }
  p {
    color: white;
    font-size: 1.1em;
  }
  .email {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 0.9em;
  }
  .solde {
    font-size: larger;
    margin-bottom: 25px;
  }
  #historique {
    padding-left: 17px;
    padding-right: 17px;
    height: 25px;
    width: 150px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: $color-principale;
    border: $color-principale 1px solid;
  }
  button {
    margin-top: 70px;
    font-size: 1.1em;
    color: white;
    background-color: $color-principale;
    border: none;
    font-weight: bold;
    height: 45px;
    width: 186px;
    cursor: pointer;
  }
  #historique:hover,
  button:hover {
    filter: brightness(110%);
    transition: 0.1s ease-in-out;
  }
}

.colonne {
  display: flex;
  .contenu {
    height: 100%;
    width: 100%;
    text-align: center;
    color: $color-principale;
    margin-top: 50px;
    .container_choix {
      width: 90%;
      height: 100%;
      margin-top: 50px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-around;
      a {
        width: 29%;
        height: 450px;
        border-radius: 15px;
        border: $color-secondaire 1px solid;
        h2 {
          margin: 0px 17px;
          color: $color-option;
          font-weight: normal;
          position: relative;
          top: 7%;
        }
      }
      img {
        height: 70%;
        width: 90%;
      }
      .choix1 {
        filter: brightness(110%);
      }
      .choix3 {
        height: 70%;
        width: 100%;
      }
      a:hover {
        transform: scale(1.05);
        filter: brightness(107%);
        border: $color-principale 5px solid;
        transition: 0.1s ease-in-out;
        h2 {
          transform: scale(1.1);
          font-weight: bold;
          color: $color-principale;
        }
      }
    }
    .depot_titre {
      position: relative;
      margin-top: 100px;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2.5em;
    }
    .depot {
      width: 50%;
      height: 100%;
      margin-top: 50px;
      position: relative;
      left: 52.9%;
      transform: translateX(-50%);
      text-align: left;
      .depotretrait {
        width: 90%;
        height: 70px;
        margin-bottom: 17px;
        border-radius: 15px;
        border: $color-secondaire thin solid;
        text-align: left;
        font-size: 1.2em;
        padding-left: 17px;
        color: $color-secondaire;
        outline: none;
      }
      .depotretrait::placeholder {
        color: $color-input;
      }
      .depotretrait:focus {
        outline: $color-principale 2px solid;
      }
      span {
        font-size: 1.7em;
        color: $color-secondaire;
      }
      .btn {
        margin-top: 25px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 25px;
        button {
          width: 200px;
          height: 70px;
          border-radius: 15px;
          color: white;
          font-size: 1.45em;
          font-weight: bold;
          cursor: pointer;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .retirer {
          border: $color-jaune thin solid;
          background-color: $color-jaune;
        }
        .deposer {
          border: $color-vert thin solid;
          background-color: $color-vert;
        }
        button:hover {
          filter: brightness(110%);
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}

.recherche_container {
  margin-top: 17px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: left;
  input {
    padding: 0;
    margin: 0;
    margin-bottom: 17px;
    margin-left: 7px;
    width: 250px;
    height: 50px;
    box-sizing: border-box;
    border: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid $color-titre;
    padding-left: 17px;
    color: $color-option;
    opacity: 0.7;
    outline: none;
    font-size: 1.2em;
  }
}

.component_container {
  margin-top: 20px;
  width: 80%;
  max-height: 550px;
  overflow: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border-radius: 5px;
  text-align: center;

  .component {
    border-radius: 5px;
    height: auto;
    min-height: 70px;
    margin-bottom: 2px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: $color-components;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    p {
      margin: auto 17px;
      color: $color-secondaire;
    }
    .mail {
      width: 30%;
      text-align: left;
    }
    .btn_pret {
      height: auto;
      width: auto;
      margin-right: 17px;
      display: flex;
      gap: 7px;
      button {
        height: 30px;
        padding-left: 7px;
        padding-right: 7px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }
      .plusinfo {
        background-color: $color-jaune;
      }
      .accepter {
        background-color: $color-vert;
      }
      .refuser {
        background-color: $color-rouge;
      }
      #transferer_btn {
        margin-top: 15px;
        padding-left: 17px;
        padding-right: 17px;
        height: 20px;
        font-size: 0.9em;
        text-align: center;
        font-weight: bold;
        color: white;
        background-color: $color-vert;
        border: none;
      }
      button:hover,
      #transferer_btn:hover {
        filter: brightness(110%);
        transition: 0.1s ease-in-out;
      }
    }
    .transfert_admin {
      width: 55%;
      text-align: left;
    }
    img {
      height: 50px;
      margin: auto 17px;
    }
    .clients {
      width: 20%;
      text-align: left;
    }
  }
}

.component_vide {
  border-radius: 5px;
  min-height: 70px;
  margin-bottom: 2px;
  width: 99%;
  display: flex;
  background-color: $color-components;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  justify-content: center;
  height: 200px;
  p {
    font-weight: bolder;
    font-size: larger;
  }
}

.full-width{
    width: 50%;
    height: 100%;
    margin-top: 50px;
    position: relative;
    left: 52.9%;
    transform: translateX(-50%);
    text-align: left;
    .depotretrait {
      width: 90%;
      height: 70px;
      margin-bottom: 17px;
      border-radius: 15px;
      border: $color-secondaire thin solid;
      text-align: left;
      font-size: 1.2em;
      padding-left: 17px;
      color: $color-secondaire;
      outline: none;
    }
    .depotretrait::placeholder {
      color: $color-input;
    }
    .depotretrait:focus {
      outline: $color-principale 2px solid;
    }
}
.btn_pret_confirmer {
  margin-top: 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 25px;
    width: 200px;
    height: 70px;
    border-radius: 15px;
    color: white;
    font-size: 1.45em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    border: $color-vert thin solid;
    background-color: $color-vert;
  
  .btn_pret_confirmer:hover {
    filter: brightness(110%);
    transition: 0.1s ease-in-out;
  }
}